<style>
  body {
    background-image: url('/images/background1.jpg'); /* Thay đổi đường dẫn tới hình ảnh của bạn */
    background-size: cover; /* Đảm bảo hình ảnh nền bao phủ toàn bộ màn hình */
    background-position: center; /* Canh giữa hình ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
  }
</style>
  <!-- Nội dung chính -->
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <!-- Cột cho ảnh -->
        <div class="col-md-6 mb-4">
          <img src="images/login.avif" alt="Ảnh" class="img-fluid">
        </div>
        <!-- Cột cho biểu mẫu đăng ký -->
        <div class="col-md-6">
          <h2 class="mb-4 text-uppercase">Đăng ký tài khoản</h2>
          <form name="frmdk">
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input required ng-minlength="3" ng-model="Student.username" name="username" type="text" class="form-control" placeholder="Nhập tên đăng nhập">
              <em class="text-danger" ng-show="frmdk.username.$invalid">Tên đăng nhập >=3 ký tự</em>
            </div>
    
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname:</label>
              <input required ng-model="Student.fullname" name="fullname" type="text" class="form-control" placeholder="Nhập họ và tên">
              <em class="text-danger" ng-show="frmdk.fullname.$invalid">Vui lòng nhập họ và tên</em>
            </div>
    
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input required ng-minlength="6" ng-model="Student.password" name="password" type="password" class="form-control" placeholder="Nhập mật khẩu">
              <em class="text-danger" ng-show="frmdk.password.$invalid">Mật khẩu phải trên 6 ký tự</em>
            </div>
    
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input required ng-model="Student.Email" name="Email" type="email" class="form-control" placeholder="Nhập địa chỉ email">
              <em class="text-danger" ng-show="frmdk.Email.$invalid">Vui lòng nhập địa chỉ email</em>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Gender:</label>
              <select required ng-model="Student.gender" class="form-select" name="gender">
                <option value="true">Nam</option>
                <option value="false">Nữ</option>
              </select>
              <em class="text-danger" ng-show="frmdk.gender.$invalid">Vui lòng chọn giới tính</em>
            </div>  
            <div class="mb-3">
              <label for="birthday" class="form-label">Birthday:</label>
              <input required ng-model="Student.birthday" type="date" class="form-control" name="birthday" placeholder="Nhập ngày sinh">
              <em class="text-danger" ng-show="frmdk.birthday.$invalid">Vui lòng nhập ngày sinh</em>
            </div>
            <div class="mb-3">
              <label for="schoolfee" class="form-label">SchoolFee:</label>
              <input required ng-min="0" ng-model="Student.schoolfee" type="number" class="form-control" name="schoolfee" placeholder="Nhập học phí">
              <em class="text-danger" ng-show="frmdk.schoolfee.$invalid">Vui lòng nhập học phí >= 0</em>
            </div>
            <div class="mb-3">
              <label for="Marks" class="form-label">Marks:</label>
              <input required ng-min="0" ng-max="10" ng-model="Student.marks" type="number" class="form-control" name="marks" placeholder="Nhập điểm">
              <em class="text-danger" ng-show="frmdk.marks.$invalid">Vui lòng nhập điểm từ 0-10</em>
            </div>
            <div class="pb-5">
              <button type="submit" class="btn btn-secondary float-end">Hủy</button>
              <button ng-click="dangky()" type="submit" class="btn btn-primary float-end me-2">Đăng ký</button>
            </div>
          </form>
        </div>
      </div>
    </div>




