<style>
  body {
    background-image: url('/images/background1.jpg'); /* Thay đổi đường dẫn tới hình ảnh của bạn */
    background-size: cover; /* Đảm bảo hình ảnh nền bao phủ toàn bộ màn hình */
    background-position: center; /* Canh giữa hình ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
}
</style>
  <!-- Nội dung chính -->
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <!-- Cột cho ảnh -->
        <div class="col-md-6 mb-4">
          <img src="images/login.avif" alt="img" class="img-fluid">
        </div>
        <!-- Cột cho biểu mẫu đăng ký -->
        <div class="col-md-6">
          <h2 class="mb-4 text-uppercase">Lấy lại mật khẩu</h2>
          <form>
            <div class="mb-3">
              <h4><label for="username" class="form-label">Nhập email của bạn:</label></h4>
              <input ng-model="email" type="email" class="form-control" name="email" placeholder="Nhập email">
            </div>
            <div>
              <button ng-click="quenpass()" type="submit" class="btn btn-primary float-end me-2">Lấy lại mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>




